<div class="wrap">
    <div class="house__holder">
        <div class="sun"></div>
        <div class="cloud__holder">
            <div class="cloud"></div>
            <div class="cloud cloud--small"></div>
        </div>
        <div class="cloud__holder cloud__holder--reverse">
            <div class="cloud"></div>
            <div class="cloud cloud--small"></div>
        </div>
        <div class="house__base">
            <div class="house__side house__garage">
                <div class="house__garage-door">
                    <span class="shadow"></span>
                    <span class="shadow shadow1"></span>
                    <span class="shadow shadow2"></span>
                    <span class="shadow shadow3"></span>
                    <span class="house__handle"></span>
                </div>
            </div>
            <div class="house__side house__front">
                <div class="house__roof">
                    <div class="house__chimney">
                        <span class="house__chimney-smoke"></span>
                        <span class="house__chimney-smoke"></span>
                        <span class="house__chimney-smoke"></span>
                        <span class="house__chimney-smoke"></span>
                        <span class="house__chimney-smoke"></span>
                    </div>
                    <span class="house__roof-window"></span>
                    <span class="house__roof-shadow"></span>
                    <span class="house__roof-shadow house__roof-shadow--sec"></span>
                </div>
                <div class="house__door">
                    <span class="house__eye-thing"></span>
                    <span class="house__handle house__door-handle"></span>
                    <span class="house__mail-box"></span>
                </div>
                <div class="house__window house__front-window">
                    <span class="house__shine"></span>
                    <span class="house__window-brick"></span>
                </div>
            </div>
            <div class="house__side house__back">
                <div class="house__roof-top">
                    <span class="house__shine house__shine--roof"></span>
                </div>
                <div class="house__window house__back-window">
                    <span class="house__shine"></span>
                    <span class="house__window-brick house__window-brick--sec"></span>
                </div>
                <div class="house__window house__back-window--sec">
                    <span class="house__shine"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

:root {
    --light-orange: #f4a574;
    --brown: #b85e37;
    --orange: #e66d44;
    --white: #fefefe;
    --shadows: #efd7cd;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.holdit {
    margin-left: 15px;
}

body {
    background-color: var(--light-orange);
}
.wrap {
    width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
.house__holder {
    width: 100%;
    margin: 70vh 0 0;
    position: relative;
    transform: scale(0.5);
}
.house__base {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 20px solid var(--brown);
    width: 85%;
}
.house__side {
    width: 300px;
    background-color: var(--white);
    height: 300px;
}
.house__front {
    width: 350px;
    position: relative;
    z-index: 1;
}
.house__front::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 25px;
    right: -31px;
    height: calc(100% - 4px);
    background-image: linear-gradient(to right, #efd7cd, #efd7cd, #f3e0d8, #f9f0ec);
    z-index: -1;
}
.house__roof {
    position: absolute;
    top: -159px;
    left: 0;
    width: 0; 
    height: 0; 
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
    border-bottom: 160px solid var(--white);
    z-index: 2;
}
.house__roof::before {
    content: '';
    height: 20px;
    width: 266px;
    background-color: var(--brown);
    position: absolute;
    top: 70px;
    left: -36px;
    transform: rotate(43deg);
    z-index: 2;
}
.house__roof::after {
    content: '';
    height: 20px;
    width: 284px;
    background-color: var(--brown);
    position: absolute;
    top: 70px;
    right: -46px;
    transform: rotate(-42deg);
    z-index: 2;
}

.house__roof-top {
    width: 93%;
    height: 170px;
    background-color: var(--brown);
    transform: skew(47deg);
    transform-origin: bottom left;
    position: absolute;
    top: -167px;
    left: 18px;
}

.house__back {
    width: 260px;
    position: relative;
    z-index: -2;
    margin-left: -1px;
}
.house__back::after {
    content: '';
    position: absolute;
    width: 93%;
    height: 170px;
    background-color: var(--brown);
    transform: skew(31deg);
    transform-origin: bottom left;
    position: absolute;
    top: -167px;
    left: 25px;
    z-index: -1;
}
.house__garage {
    height: 240px;
    position: relative;
}
.house__garage::before {
    content: '';
    position: absolute;
    top: 0;
    width: calc(100% + 10px);
    left: -10px;
    height: 20px;
    background-color: var(--brown);
    z-index: 2;
}
.house__garage::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    right: 0;
    height: 100%;
    background-image: linear-gradient(to left, #efd7cd, #efd7cd, #f3e0d8, #f9f0ec);
    z-index: 1;
}
.house__garage-door {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 70%;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 0 0;
}
.shadow {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; 
    border-right: 240px solid var(--brown);
    display: block;
    margin-bottom: 30px;
}
.house__handle {
    width: 22px;
    height: 6px;
    background-color: var(--white);
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.house__roof-window {
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: linear-gradient(to right, #efd7cd, #efd7cd, #daa38b, #daa38b, #daa38b);
    border: 7px solid var(--brown);
    border-radius: 50%;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}
.house__roof-window::after {
    content: '';
    width: calc(100% + 5px);
    height: 7px;
    background-color: var(--brown);
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(-45deg) translateY(-50%);
}
.house__roof-window::before {
    content: '';
    width: calc(100% + 5px);
    height: 7px;
    background-color: var(--brown);
    position: absolute;
    top: 17px;
    left: -2px;
    transform: rotate(45deg);
}
.house__roof-shadow {
    position: absolute;
    width: 220px;
    height: 20px;
    border-radius: 100% 0% 77% 23% / 0% 0% 100% 100% ;
    top: 66px;
    left: -45px;
    background-color: var(--shadows);
    transform: rotate(42deg);
    z-index: 1;
}
.house__roof-shadow--sec {
    transform: rotate(138deg) rotateY(180deg);
    width: 100px;
    border-radius: 89% 11% 63% 37% / 100% 100% 0% 0% ;
    left: -67px;
    top: 26px;
}
.house__door {
    height: 80%;
    width: 120px;
    background-color: var(--orange);
    border: 10px solid var(--brown);
    border-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.house__door::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 40px);
    height: 20px;
    background-image: linear-gradient(to top, #e36135, #e7724b);
}
.house__window {
    height: 40%;
    width: 80px;
    background-color: var(--orange);
    border: 7px solid var(--brown);
    position: absolute;
    top: 60px;
    left: 20px;
}
.house__window::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 7px;
    background-color: var(--brown);
}
.house__shine {
    position: absolute;
    bottom: 30px;
    background-color: var(--shadows);
    width: 70%;
    height: 10px;
    left: 5px;
    opacity: 0.2;
    border-radius: 93% 7% 94% 6% / 66% 0% 100% 34%;
    transform: rotate(-45deg);
}
.house__window-brick {
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--orange);
    border: 1px solid var(--brown);
    width: calc(100% + 25px);
    height: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.house__window-brick::after {
    content: '';
    width: 102%;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    height: 12px;
    background-color: var(--shadows);
    opacity: 0.5;
}
.house__window-brick--sec {
    width: calc(200% + 25px);
    left: 103%;
}
.house__back-window {
    left: 65px;
}
.house__back-window--sec {
    left: 135px;
}
.house__door-handle {
    width: 16px;
    top: 50%;
    left: 80%;
}
.house__eye-thing {
    border: 2px solid var(--white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--orange);
}
.house__mail-box {
    height: 7px;
    width: 30px;
    background-color: var(--brown);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.house__shine--roof {
    top: 20px;
    transform: rotate(8deg);
    left: 80px;
    height: 20px;
    width: 200px;
    border-radius: 100% 0% 99% 1% / 99% 0% 100% 1% ;
    z-index: 2;
}
.house__chimney {
    width: 50px;
    height: 70px;
    background-color: var(--brown);
    position: absolute;
    left: -82px;
    top: -16px;
    display: flex;
    z-index: -1;
}
.house__chimney-smoke {
    width: 4px;
    height: 13px;
    background-color: var(--white);
    opacity: 0.8;
    border-radius: 10px;
    top: -13px;
    left: 1px;
    animation: evaporate 500ms infinite;
    display: block;
    position: absolute;
}
.house__chimney-smoke:nth-child(1) {
    animation-delay: 200ms;
}
.house__chimney-smoke:nth-child(2) {
    left: 11px;
    animation-delay: 400ms;
}
  
.house__chimney-smoke:nth-child(3) {
    left: 21px;
    animation-delay: 600ms;
}
  
.house__chimney-smoke:nth-child(4) {
    left: 31px;
    animation-delay: 800ms;
}
  
.house__chimney-smoke:nth-child(5) {
    left: 41px;
    animation-delay: 1000ms;
}
@keyframes evaporate {
    0% {
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-40px);
    }
  }
.sun {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: -85vh;
    right: 50vh;
}
.cloud__holder {
    position: absolute;
    top: -75vh;
    left: 5vw;
    overflow: hidden;
    height: 60px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.cloud__holder--reverse {
    top: -65vh;
    right: 0;
    left: auto;
    flex-direction: row-reverse;
}
.cloud {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--white);
}
.cloud--small {
    width: 70px;
    height: 70px;
    margin: 25px -20px 0 -20px;

}

</style>