{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% include 'app/navbar.html' %}

{% if user.is_authenticated %}
<div class="container" id="hello">
    <h3>New Listing</h3><br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info right"> Submit </button></td></tr>
    </form>
</div>
{% endif %}
<style>
body {
    background-color: rgb(36, 248, 248);
}

#hello {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 35%;
}
</style>

{% endblock %}